<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>user-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (submit)="submit()" [formGroup]="fgDetails">
      <ion-input
        label="First name"
        labelPlacement="floating"
        fill="outline"
        formControlName="fld_fname">
      </ion-input>
      <ion-input
        label="Middle name"
        labelPlacement="floating"
        fill="outline"
        formControlName="fld_mname">
      </ion-input>
      <ion-input
        label="Last name"
        labelPlacement="floating"
        fill="outline"
        formControlName="fld_lname">
      </ion-input>
      <ion-input
        label="Ext name"
        labelPlacement="floating"
        fill="outline"
        formControlName="fld_extname">
      </ion-input>
      <ion-input
        label="Age"
        labelPlacement="floating"
        fill="outline"
        formControlName="fld_age">
      </ion-input>
      <button (click)="cancel()" type="button">
        <ion-button>
          Cancel
        </ion-button>
      </button>
      <button type="submit" [disabled]="fgDetails.invalid">
        <ion-button [disabled]="fgDetails.invalid">
          Submit
        </ion-button>
      </button>
  </form>
</ion-content>

