div {
    margin-top: 5px;
    height: 50vh;
    swiper-container {
        swiper-slide{
            height: 50vh;
            img {
                width: 100%;
                height: 50vh;
                border-radius: 3px;
            }
        }
    }
}